:root {
	--primary-text-color: #757575;
	--logo-text-color: #000000;
	--accent-color: #2196f3;
	--text-color: #212121;
	--title-text-color: #ffffff;
	--footer-text-color: #ffffff 60 %;

	--background-color: #ffffff;
	--title-background-color: #2f303a;
	--team-background-color: #f5f4fa;
	--accent-background-color: #2196f3;
}

body {
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
}

/* p,
h1,
h2,
h3,
.page-nav-list,
.logo,
.site-nav,
.auth-nav,
.hero,
.footer-list,
.page-footer {
  outline: 2px solid tomato;
}
.page-header {
  outline: 2px solid red;
}
.li {
  outline: 2px solid blueviolet;
}
.container {
  outline: 2px solid teal;
}
.section {
  outline: 2px solid green;
} */

h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding-bottom: 94px;
}

.section:not(.work) {
	padding-top: 94px;
}

/* Боді. Хедер*/
.page-header-container,
.site-nav,
.auth-nav,
.page-header-nav {
	display: flex;
	align-items: center;
}

.page-header .logo {
	padding-top: 24px;
	padding-bottom: 25px;
}

.site-nav {
	margin-left: 93px;
	gap: 50px;
}

.site-nav-link,
.auth-nav-link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
}

.auth-nav {
	margin-left: auto;
	gap: 50px;
}

.page-header {
	background-color: var(--background-color);
	border-bottom: 1px solid #ececec;
}

.spacing {
	letter-spacing: 0.02em;
}

.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.accent {
	color: var(--accent-color);
}

.logo-bl {
	color: var(--logo-text-color);
}

.site-nav .link {
	color: var(--text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .current {
	color: var(--accent-color);
}

.auth-nav .link {
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
	color: var(--accent-color);
}

/* Боді. Майн. Герой*/
.section-title {
	color: var(--text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 50px;
}

.hero {
	background-color: var(--title-background-color);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-title {
	color: var(--title-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.hero-paragraph {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.button {
	color: var(--title-text-color);
	background-color: var(--accent-background-color);
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	padding: 10px 32px;
	border: none;
}

/* Боді. Майн. Хіден*/
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.features {
	display: flex;
	gap: 30px;
}

.item-work {
	flex-basis: calc((100% - 60px) / 3);
}

.item-features {
	flex-basis: calc((100% - 90px) / 4);
}

.title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.team {
	background-color: var(--team-background-color);
}

/* Боді. Майн. Займаємося.*/
.feature-list .title {
	color: var(--text-color);
}

/* Боді. Майн. Команда.*/
.description {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	background-color: var(--background-color);
}

.team-li {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.title-team {
	color: var(--text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}

.title-pr {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	margin-top: 10px;
}

/* Боді. Футер*/
.page-footer {
	background-color: var(--title-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-wh {
	color: var(--title-text-color);
}

.page-footer-ad .link {
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
}

.footer-list .link {
	color: var(--title-text-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
	color: var(--accent-color);
}

/* .addres-item {
  margin-top: 9px;
}  */

.footer-address {
	margin-top: 20px;
}

.footer-address li + li {
	margin-top: 9px;
}

.footer-list .addres {
	color: var(--footer-text-color);
}

.footer-list .addres:hover,
.footer-list .addres:focus {
	color: var(--accent-color);
}

/* Портфоліо. Маін. Баттон.*/
.portfolio {
	color: var(--text-color);
}

.portfolio-button {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	padding: 6px 22px;
	border-radius: 4px;
	border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
	cursor: pointer;
	color: var(--title-text-color);
	background-color: var(--accent-background-color);
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
}

/* Портфоліо. Маін. Галерея.*/
.gallery {
	color: var(--text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.item-portfolio {
	flex-basis: calc((100% - 60px) / 3);
}

.gallery-list {
	margin-top: 50px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.description-gallery {
	border: 1px solid #eeeeee;
	border-top: none;
	padding: 20px 24px;
}

.portfolio-filtr {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.portfolio-paragraph {
	color: var(--primary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	margin-top: 4px;
}
